@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');
:root
{

  --primary_blue: #1F1D36;
  --secondary_blue:#0d08356e;
  --strong_green : #1E5128;
  --secondary_green : #4E9F3D;
  --secondary_gray : #D8E9A8;
  --primary_black : #171717;
  --gray:#B2B1B9;

  --font_title: 40px;
  --font_title_description:20px;

}

*{
  margin:0px;
  padding:0px;
  font-family: 'Chivo',sans-serif;
  background-color: var(--primary_blue);
}


.container
{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_text
{
  padding-top: 2rem;
  font-size: var(--font_title);
  font-weight: bold;
  letter-spacing: 0.01rem;
  color: var(--secondary_gray);
}

.title_description_text {
  padding-top: 10px;
  font-size: var(--font_title_description);
  font-weight: bold;
  color: var( --gray);
  letter-spacing: 0.01rem;
  margin-bottom: 10px;

}